<div class="container col-sm-9">
<h1>Create A New Project</h1>

<%= form_for @project do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="action">
    <%= f.submit "Save Title", class: "btn btn-success" %>
  </div>
<% end %>
</div>