.user-nav, .user-nav ul li {
  padding: 0;
  margin: 0;
  background-color: #222D32;
  color: #fff;
  list-style: none;
}

.avatar img {
  border-radius: 10%;
}

.col-md-10 {
  padding: 0;
  margin: 0;
  background-color: #222D32;
}